<div class="page-header">
  <div class="header-title-container">
    <h1 class="header-title">Password Generator</h1>
  </div>
</div>
<div class="password-generator-container">
  <div class="password-generators">
    <div class="password-generator">
      <form>
        <div class="input-group">
          <label for="passwordAmount">Amount:</label>
          <input type="number" [(ngModel)]="passwordRequest.amount" name="passwordAmount" required>
        </div>
        <div class="input-group">
          <label for="passwordLength">Length:</label>
          <input type="number" [(ngModel)]="passwordRequest.length" name="passwordLength" [disabled]="!useSimpleGenerator" required>
        </div>
        <div class="checkbox-group">
          <div class="checkbox-label">
            <label>
              <input type="checkbox" [(ngModel)]="passwordRequest.includeSpecial" name="includeSpecial"  [disabled]="!useSimpleGenerator">
              Include Special Characters:
            </label>
            <div class="example">*#+%</div>
          </div>
          <div class="checkbox-label">
            <label>
              <input type="checkbox" [(ngModel)]="passwordRequest.includeNumbers" name="includeNumbers" [disabled]="!useSimpleGenerator">
              Include Numbers:
            </label>
            <div class="example">123456</div>
          </div>
          <div class="checkbox-label">
            <label>
              <input type="checkbox" [(ngModel)]="passwordRequest.includeUppercase" name="includeUppercase" [disabled]="!useSimpleGenerator">
              Include Uppercase Letters:
            </label>
            <div class="example">ABCDEF</div>
          </div>
          <div class="checkbox-label">
            <label>
              <input type="checkbox" [(ngModel)]="passwordRequest.includeLowercase" name="includeLowercase" [disabled]="!useSimpleGenerator">
              Include Lowercase Letters:
            </label>
            <div class="example">abcdef</div>
          </div>
        </div>

        <div class="buttons">
          <button [ngClass]="{ 'progress-btn': generateInProgress, 'submit-btn': !generateInProgress }"
            [disabled]="generateInProgress" type="submit" class="generate-btn" (click)="onGenerate()">
            {{generateBtnText}}
          </button>
          <button type="delete" class="clear-btn" [ngClass]="{ 'progress-btn': deleteInProgress, 'clear-red-btn': !deleteInProgress }"
          [disabled]="deleteInProgress" (click)="onClear()">{{deleteBtnText}}</button>
        </div>
      </form>
      <div class="statistic-group" *ngIf="statistic">
        <div>
          Total: {{statistic.totalCount}}
        </div>
        <div>
          Duplicates: {{statistic.duplicateCount}}
        </div>
      </div>  
    </div>
  </div>
  <div class="password-output" *ngIf="formattedPasswords">
    <textarea [value]="formattedPasswords" readonly></textarea>
  </div>
  <div class="password-generator-statistic" *ngIf="generateResult">
      <div class="time-group" *ngIf="generateResult">
        <div>
          Generate time: {{generateResult.generateTime}} ms
        </div>
        <div>
          Total time: {{generateResult.executionTime}} ms
        </div>
      </div>
      <div *ngFor="let generateStatistic of generateResult.statistics; let i = index">
        Iteration: {{i + 1}}
        <ul>
          <li>Duplication count: {{generateStatistic.duplicationCount}}</li>
          <li>Generate passwords: {{generateStatistic.generatePasswordTime}} ms</li>
          <li>Verify DB uniques: {{generateStatistic.verifyDBUniquesTime}} ms</li>
          <li>Log time: {{ generateStatistic.logTime | date:'yyyy-MM-dd HH:mm:ss' }}</li>
        </ul>
      </div>
  </div>
</div>
<div class="logout-btn">
  <button (click)="onLogout()">Logout</button>
</div>