.page-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.header-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-title {
  font-family: Georgia;
  font-size: 43px;
  font-weight: 200;
  margin: 0;
}

.logout-btn {
  position: absolute; 
  top: 4%;
  right: 5%;
}

.logout-btn button {
  background-color: #28ac3a;
  width: 140px;
  height: 46px; 
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.logout-btn button:hover {
  background-color: #1f8a30;
}

.password-generator-container {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    font-family: Sans-serif;
  }

  .password-generators {
    display: flex;
    flex-direction: column;
    height: 50%;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .input-group label {
        margin: -3px 9px 0 4px;
      }
      
      .input-group input {
        width: 220px;
      }

      .input-expired-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
      }
      
      .input-expired-group label {
        margin: -3px 9px 0 4px;
      }
      
      .input-expired-group input {
        width: 165px;
      }
  }
  
  .password-generator, .generator-statistic {
    background-color: #fff;
    padding: 15px 40px 25px 40px;
    width: 300px;
  }

  .generator-statistic {
    height: 320px;
    border-bottom: 0;
  }

  .generator-total-statistic {
      border-bottom: 0;
      padding: 15px 40px 25px 40px;
  }
  
  .password-generator h3, .password-output h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .password-generator label {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .password-generator input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox-group {
    margin-top: 10px;
    font-size: 0.9em;

    .checkbox-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

  .statistic-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 26px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox-group input {
    margin-right: 5px;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .clear-btn {
    width: 140px;
    height: 46px;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .generate-btn {
    width: 140px;
    height: 46px;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }

  .progress-btn {
    background-color: #56585a;
  }

  .submit-btn {
    background-color: #007bff;
  }

  .clear-red-btn {
    background-color: #e80000;
  }
  
  .advanced-btn {
    background-color: #6c757d;
  }

  .password-output {
    padding: 0;
    margin-top: 16px;
    border: 0;
    width: 300px;
  }
  
  .password-output textarea {
    width: 93%;
    height: 99%;
    margin-top: -17px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.9rem;
  }

  .time-group {
    margin-bottom: 22px;
    text-align: left;
  }

  .password-generator-statistic {
    text-align: left;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px 10px 15px;
  }

  @media (mix-width: 701px) { 
    .password-generators {
      border-right: 4px solid #007bff;
    }

    .password-generator {
      width: 79%;
    }

    .password-generator-statistic {
      border-left: 4px solid #007bff;
      width: 340px;
      padding: 15px 10px 25px 10px;
    }
    
    .logout-btn {
      right: 10px; 
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 700px) {
    .header-title {
      font-family: Georgia;
      font-size: 36px;
      font-weight: 200;
      margin-bottom: 10px;
    }

    .password-generator-container {
      display: flex;
      flex-direction: column;
      gap: 36px;
      justify-content: center;
      font-family: Sans-serif;
    }

    .password-generators {
      border: 0;
    }

    .password-output {
      width: 97%;
      height: 300px;
      padding: 5px;
    }

    .password-generator, .generator-statistic {
      background-color: #fff;
      padding: 15px 30px 25px 30px;
      width: 325px;
    }

    .password-generator-statistic {
      padding: 15px 20px 25px 20px;
      border-left: 0px;
      width: 89%;

    }

    .logout-btn {
      transform: translateY(-50%);
      position: relative;
      bottom: -47px;
    }
}